.content{
    width: 100%;
}

#introduct{
    position: relative;
    width: 140vh;
    height: 80vh;
}
#RoboterAGLogo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dropdown-menu{
    z-index: 20;
}

@media(min-width: 600px){
    #introduct-text{
        position: absolute;
        top: 10%;
        left: 4%;
    }
}