:root{
    --bg-style: #ddeedb;
    --content-bg-style: #a1c0a166;
    --NavButtons: #a1c0a1;
    --NavButtonsHover: #769876;
    --NavButtonsBorder: #7ca07c;
    --NavButtonsBorderHover: #5f7c5f;
}
body{
    background-color: var(--bg-style);
    margin: 0px;
}
* {
    font-family: "Sarabun", sans-serif;
}
.Navigation{
    display: flex;
    width: 100%;
    padding: 20px 10px;
    background-color: var(--content-bg-style);
}
.NavButton{
    margin: auto 20px;
    padding: 10px 20px;
    height: auto;
    background-color: var(--NavButtons);
    border-radius: 9px;
    border-width: 4px;
    border-style: solid;
    border-color: var(--NavButtonsBorder);
    transition: padding 0.5s ease;
}
.NavButton:hover{
    background-color: var(--NavButtonsHover);
    border-color: var(--NavButtonsBorderHover);
}
.MenuButton{
    background-color: var(--NavButtons);
    border-radius: 9px;
    border-width: 4px;
    border-style: solid;
    border-color: var(--NavButtonsBorder);
}
.dropdown {
    justify-self: right;
}
.dropdown:hover .MenuButton{
    background-color: var(--NavButtonsHover);
    border-color: var(--NavButtonsBorderHover);
}
.dropdown-menu{
    display: none;
    position: absolute;
    padding: 13px;
    background-color: var(--bg-style);
}
.dropdown:hover .dropdown-menu{
    display: block !important;
}
.dropdown-menu-button-menu{
    background-color: var(--NavButtons);
    width: 200px;
    margin: 10px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border: var(--NavButtonsBorder) solid 3px;
    border-radius: 9px;
}
.dropdown-menu-button{
    background-color: #00000000;
    border-width: 0px;
    width: 100%;
    height: 100%;
    text-align: left;
}
.dropdown-menu-button-menu:hover{
    background-color: var(--NavButtonsHover);
    border-color: var(--NavButtonsBorderHover);
}
.content{
    margin: 16px;
    display: flex;
    justify-content: center;
}
.content #RoboterAGLogo{
    min-width: inherit;
}
.content-block{
    padding: 12px;
    background-color: var(--content-bg-style);
    margin: 12px;
}
.content-block .alter-text{
    text-align: center;
}
.content-block .paragraph{
    margin: 6px auto;
}
.hervorheben{
    color: #303736;
    font-weight: 600;
}