:root{
    --bg-style: #eedbdb;
    --content-bg-style: #dcb7b7c4;
    --second-content-bg-style: #bd9b9bc4;
    --NavButtons: #c0a1a1;
    --NavButtonsHover: #987676;
    --NavButtonsBorder: #a07c7c;
    --NavButtonsBorderHover: #7c5f5f;
    --hervorheben: #373030;
}
html{
    scroll-behavior: smooth;;
}
body{
    background-color: var(--bg-style);
    margin: 0px;
}
* {
    font-family: "Sarabun", sans-serif;
}
img {
    max-width: 100%;
}
a{
    color: var(--hervorheben);
    font-weight: 600;
}
.Navigation{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: calc(100% - 20px);
    padding: 20px 10px;
    background-color: var(--content-bg-style);
    align-content: center;
}
.NavButton{
    padding: 10px 20px;
    height: auto;
    background-color: var(--NavButtons);
    border-radius: 9px;
    border-width: 4px;
    border-style: solid;
    border-color: var(--NavButtonsBorder);
    transition: padding 0.5s ease;
}
.NavButton:hover{
    background-color: var(--NavButtonsHover);
    border-color: var(--NavButtonsBorderHover);
}
.NavButtonImg{
    height: 32px;
}
.MenuButton{
    background-color: var(--NavButtons);
    border-radius: 9px;
    border-width: 4px;
    border-style: solid;
    border-color: var(--NavButtonsBorder);
}
.dropdown{
    margin-left: auto;
    margin-right: 40px;
}
.dropdown:hover .MenuButton{
    background-color: var(--NavButtonsHover);
    border-color: var(--NavButtonsBorderHover);
}
.dropdown-menu{
    display: none;
    position: absolute;
    right: 30px;
    padding: 13px;
    background-color: var(--bg-style);
}
.dropdown:hover .dropdown-menu{
    display: block !important;
}
.dropdown-menu-button-menu{
    background-color: var(--NavButtons);
    width: 200px;
    margin: 10px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border: var(--NavButtonsBorder) solid 3px;
    border-radius: 9px;
}
.dropdown-menu-button{
    background-color: #00000000;
    border-width: 0px;
    width: 100%;
    height: 100%;
    text-align: left;
}
.dropdown-menu-button-menu:hover{
    background-color: var(--NavButtonsHover);
    border-color: var(--NavButtonsBorderHover);
}
.content{
    margin: 16px;
    max-width: calc(100vw - 32px);
    display: flex;
    flex-wrap: wrap;
}
.content #RoboterAGLogo{
    min-width: inherit;
}
.content-block{
    padding: 12px;
    background-color: var(--content-bg-style);
    margin: 12px;
}
.content-block-inner{
    padding: 12px;
    background-color: var(--second-content-bg-style);
    margin: 12px;
}
.content-block .alter-text{
    text-align: center;
}
.content-block .paragraph{
    margin: 6px auto;
}
.hervorheben{
    color: var(--hervorheben);
    font-weight: 600;
}
.teamPhotos{
    position: absolute;
    bottom: 7%;
    text-align: center;
    width: 100%;
    padding: 16px 0px;
    background-color: var(--content-bg-style);
}
.teamPhotosContainer{
    position: relative;
}
#teamPhotosContainerContainer{
    display: flex;
    flex-direction: column;
}
#teamPhotosCont{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.alter-text{
    text-align: center;
}
.Übersicht{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 50px;
}
#LigenLinks{
    display: block;
    min-width: fit-content;
}
.LigenPictureShowcase{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 25% 25% 25% 25%;
}
.LigenPhoto{
    object-fit: fill;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}