#TeilnehmerImg{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
#ÜberUns{
    display: inline-block;
    max-width: fit-content;
}
.teamPhotosContainer{
    width: 25%;
}

.teamPhotos{
    position: absolute;
    bottom: 7%;
    text-align: center;
    width: 100%;
    height: 10%;
    padding: 6% 0px;
    background-color: var(--content-bg-style);
}
.teamPhotosContainer{
    position: relative;
}
#teamPhotosContainerContainer{
    display: flex;
    flex-direction: column;
}
#teamPhotosCont{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}