:root {
    --bg-style: hsl(240, 3%, 15%);
    --content-bg-style: hsla(240, 2%, 20%, 0.94);
    --secondary-content-bg-style: hsla(240, 2%, 12%, 0.94);
    --NavButtons: hsl(240, 3%, 14%);
    --NavButtonsBorder: hsl(240, 2%, 8%);
    --hervorheben: #dce9e7;
    --secHervorheben: #abb4b4;
    --text: #a4a9ab;
    --dropdownMenuTransparent: hsla(240, 2%, 12%, 0.94);
}
html{
    scroll-behavior: smooth;;
}
body{
    background-color: var(--bg-style);
    margin: 0px;
}
* {
    color: #aeb8b6;
    font-family: "Sarabun", sans-serif;
}
p, h1, h2, h3, h4, h5 , h6, span, li, th, td{
    color : var(--text);
}
img {
    max-width: 100%;
}
a{
    color: var(--secHervorheben);
    font-weight: 600;
}
button:hover{
    cursor: pointer;
}
.Navigation{
    position: fixed;
    top: 0px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--content-bg-style);
    align-items: center;
}
.NavButton{
    padding: 10px 20px;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 9px;
    border-width: 0;
    border-style: solid;
    border-color: hsla(240, 2%, 20%, 0);
    transition: 0.5s ease;
}
.NavButton:hover{
    text-decoration: underline;
    background-color: var(--NavButtonsHover);
    border-color: var(--NavButtonsBorderHover);
}
.NavButtonImg{
    height: 32px;
}
.MenuButton{
    background-color: hsla(240, 2%, 20%, 0);
    border-radius: 9px;
    border-style: none;
    transition: 0.5s ease;
}
.dropdown{
    margin-left: auto;
    margin-right: 40px;
}
.dropdown:hover .MenuButton{
    background-color: var(--NavButtonsHover);
    border-color: var(--NavButtonsBorderHover);
}
.dropdown-menu{
    display: none;
    position: absolute;
    right: 30px;
    padding: 5px;
    background-color: var(--dropdownMenuTransparent);
    border: rgb(223, 236, 234) solid 2px;
    border-radius: 9px;
}
.dropdown:hover .dropdown-menu{
    display: block !important;
}
.dropdown-menu-button-menu{
    background-color: hsla(240, 2%, 20%, 0);
    width: 200px;
    margin: 2px auto;
    border: none;
    border-radius: 9px;
}
.dropdown-menu-button{
    padding: 10px;
    background-color: #00000000;
    border-width: 0px;
    width: 100%;
    height: 100%;
    text-align: left;
    border-radius: 9px;
}
.dropdown-menu-button:hover{
    cursor: pointer;
    text-decoration: underline;
    background-color: #343131;
}
.dropdown-menu-button-menu:hover{
    background-color: var(--NavButtonsHover);
    border-color: var(--NavButtonsBorderHover);
}
.content{
    margin: 16px;
    margin-top: 60px;
    max-width: calc(100vw - 32px);
    display: flex;
    flex-wrap: wrap;
}
.content #RoboterAGLogo{
    min-width: inherit;
}
.content-block{
    border-radius: 20px;
    border-width: 15px;
    
    padding: 12px;
    margin: 12px;
}
.content-block-inner{
    padding: 12px;
    color: transparent;
    margin: 12px;
}
.content-block .alter-text{
    text-align: center;
}
.content-block .paragraph{
    margin: 6px auto;
}
.hervorheben{
    color: var(--hervorheben);
    font-weight: 600;
}
.secHervorheben{
    color: var(--secHervorheben);
    font-weight: 500;
}
.alter-text{
    text-align: center;
}
.Übersicht{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 50px;
}
#LigenLinks{
    display: block;
    min-width: fit-content;
}
.LigenPictureShowcase{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 25% 25% 25% 25%;
}
.LigenPhoto{
    object-fit: fill;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}