:root {
    --bg-style: hsl(240, 3%, 15%);
    --content-bg-style: hsla(240, 2%, 20%, 0.94);
    --secondary-content-bg-style: hsla(240, 2%, 12%, 0.94);
    --NavButtons: hsl(240, 3%, 14%);
    --NavButtonsBorder: hsl(240, 2%, 8%);
    --NavButtonsHover: #31272770;
    --hervorheben: #dce9e7;
    --secHervorheben: #abb4b4;
    --text: #a4a9ab;
    --dropdownMenuTransparent: hsla(240, 2%, 12%, 0.94);
}
html{
    scroll-behavior: smooth;;
}
body{
    background-color: var(--bg-style);
    margin: 0px;
}
* {
    color: #aeb8b6;
    font-family: "Sarabun", sans-serif;
}
p, h1, h2, h3, h4, h5 , h6, span, li, th, td{
    color : var(--text);
}
img {
    max-width: 100%;
}
a{
    color: var(--secHervorheben);
    font-weight: 600;
}
button:hover{
    cursor: pointer;
}
.nav-bar {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px;
  }
  
  .nav-buttons {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    flex-grow: 1;
  }
  .nav-buttons img{
    max-width: 30px;
  }
  
  .nav-buttons button {
    color: white;
    background-color: #444;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  #NavButtonImg{
    padding : 0 5px;
    max-height: 35px;
  }
  
  .nav-buttons button:hover {
    background-color: #555;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-btn {
    color: white;
    background-color: #444;
    border: none;
    padding: 0 5px;
    cursor: pointer;
  }
  
  .dropdown-btn:hover {
    background-color: #555;
  }
  
  .dropdown-content {
    display: block;
    position: absolute;
    padding: 10px;
    top: 100%;
    right: 0;
    background-color: #444;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content button {
    display: block;
    width: 100%;
    color: white;
    background: none;
    border: none;
    padding: 10px;
    text-align: left;
    cursor: pointer;
  }
  
  .dropdown-content button:hover {
    background-color: #555;
  }
  
  .dropdown.open .dropdown-content {
    display: block;
  }
.content{
    margin: 16px;
    margin-top: 60px;
    max-width: calc(100vw - 32px);
    display: flex;
    flex-wrap: wrap;
}
.content #RoboterAGLogo{
    min-width: inherit;
}
.content-block{
    border-radius: 20px;
    border-width: 15px;
    
    padding: 12px;
    margin: 12px;
}
.content-block-inner{
    padding: 12px;
    color: transparent;
    margin: 12px;
}
.content-block .alter-text{
    text-align: center;
}
.content-block .paragraph{
    margin: 6px auto;
}
.hervorheben{
    color: var(--hervorheben);
    font-weight: 600;
}
.secHervorheben{
    color: var(--secHervorheben);
    font-weight: 500;
}
.alter-text{
    text-align: center;
}
.Übersicht{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 50px;
}
#LigenLinks{
    display: block;
    min-width: fit-content;
}
.LigenPictureShowcase{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 25% 25% 25% 25%;
}
.LigenPhoto{
    object-fit: fill;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}